@model OrderViewModel
@{
    ViewBag.Title = "შეკვეთები";
}

@section HeaderSection {
    @Html.DevExpress().GetStyleSheets(new StyleSheet { ExtensionSuite = ExtensionSuite.GridView })
    @Html.DevExpress().GetScripts(new Script { ExtensionSuite = ExtensionSuite.GridView })
}

@section Breadcramps{
    <ol class="breadcrumb">
        <li class="active"><a href="#"><i class="fa fa-dashboard"></i> @ViewBag.Title</a></li>
    </ol>
}

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <a href="@Model.AddNewOrderUrl" class="btn btn-flat btn-default" id="add-new"><i class="fa fa-plus"></i> დამატება</a>
                <div class="box-tools pull-right">

                </div>
            </div>
            <div class="box-body">
                @Html.Partial("_OrderGrid", Model.GridViewModel)
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="orderStatusUpdate" tabindex="-1" role="dialog" aria-labelledby="orderStatusUpdateLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="orderStatusUpdateLabel">სტატუსის შეცვლა</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>