@model OrderArchivedViewModel
@{
    ViewBag.Title = "დაარქივებული შეკვეთები";
}
@section HeaderSection {

    <link href="~/Content/plugins/fancybox/jquery.fancybox.css" rel="stylesheet" />
    @Html.DevExpress().GetStyleSheets(new StyleSheet { ExtensionSuite = ExtensionSuite.GridView })
    @Html.DevExpress().GetScripts(new Script { ExtensionSuite = ExtensionSuite.GridView })
    <script>
        function onSelectionChanged(s, e) {

            if (OrderArchivedGrid.GetSelectedRowCount() > 0) {
                $('#unarchive-orders').removeAttr('disabled');
            } else {
                $('#unarchive-orders').attr('disabled', 'disabled');
            }
        }
    </script>
}

@section Breadcramps{
    <ol class="breadcrumb">
        <li class="active"><a href="#"><i class="fa fa-dashboard"></i> @ViewBag.Title</a></li>
    </ol>
}

<div class="row" id="orders-grid">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                @if (Model.IsAllowedToUnArchiveOrders)
                {
                    <button disabled="disabled" id="unarchive-orders" data-url="@Model.UnArchiveOrdersUrl" class="btn btn-flat btn-sm btn-success"><i class="fa fa-archive"></i> არქივიდან ამოღება</button>
                }
                <div class="box-tools pull-right">

                </div>
            </div>
            <div class="box-body">
                @Html.Partial("_OrderArchivedGrid", Model.GridViewModel)
            </div>
        </div>
    </div>
</div>

@section FooterSection {
    <script src="~/Content/plugins/fancybox/jquery.fancybox.js"></script>
    <script src="~/Content/plugins/bootbox/bootbox.min.js"></script>
    <script src="~/Content/plugins/fancybox/FancyMethods.js"></script>
    <script src="~/Content/scripts/Order/OrderArchived.js"></script>
}